

.header {
    &-top {
        background-color: $black;
        color: $white;

        &-link {
            color: $white;
            font-weight: 600;
            &:hover,&:focus,&:active{
                color: $primary;
            }
        }

        &-list {

            li {
                

                a {
                    color: $white;
                    @include media-breakpoint-up(sm) {
                    margin-right: 0.5rem;
                    }
                    &:hover,&:focus,&:active{
                        color: $primary;
                    }

                }
            }

        }
    }

    &-middle {
      
        .nav-link{
            color: $black;
            font-weight: 700;
            &:hover,&:focus,&:active{
                color: $primary;
            }
        }
    }
    .site-search{
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
        flex-grow : 1;
        width: 100%;
        
        @include media-breakpoint-down(xl) {
                margin-top: 10px;
                margin-bottom: 20px;
        }
        .input-group{
            @include media-breakpoint-up(xl) {
            max-width: 450px;
            margin: 0 10px
            }
                &-btn {
                    .form-control{
                        border-top-left-radius: 20px;
                        border-bottom-left-radius: 20px;
                    }
                }
        }
        &--btn{
            .btn{
            border-radius: 50%;
            position: absolute;
            right: 0;
            width: 40px;
            height: 40px;
            padding: 0;
            color: $white;
            z-index: 9;
            }
        }
        &--input{
            border-top-right-radius: 20px;
                        border-bottom-right-radius: 20px;
        }
        
        
    }
}

.main-logo {
    max-width: 200px;
}

.carousel {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000000;
        opacity: 0.6;
        z-index: 3;
    }
&-item{
    img{
        @include media-breakpoint-down(sm) {
            min-height: 250px;
            object-position: center;
            object-fit: cover;
        }
    }
}
    &-caption {
        z-index: 999;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        color: $white;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
.banner-grid{
    position: relative;
    
    @include media-breakpoint-up(md) {
        height: 414px;
    }
    @include media-breakpoint-up(lg) {
        height: 560px;
    }
    @include media-breakpoint-up(xl) {
        height: 664px;
        }
    @include media-breakpoint-up(xxl) {
    height: 844px;
    }
       
    &__banner{
        @include media-breakpoint-up(md) {
        width: 50%;
        position: absolute;
        }
       
        padding: 2px;
        &-image{
            transition: transform 1s;
            object-position: center;
            }
        &:hover{
            .banner-grid__banner-image{
                transform: scale(1.1);
            }
        }
        &-link{
            overflow: hidden;
            position: relative;
            height: 100%;
            display: block;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: #000000;
                opacity: 0.21;
                z-index: 3;
            }
        }
    }
    &__banner1 {
        top: 0;
        left: 0;
        height: 50%;
        @include media-breakpoint-up(lg) {
        height: 56%;
        }
    }
    &__banner2 {
        top: 0;
        right: 0;
        height: 50%;
        @include media-breakpoint-up(lg) {
        height: 44%;
        }
    }
    &__banner3 {
        left: 0;
        bottom: 0;
        height: 50%;
        @include media-breakpoint-up(lg) {
        height: 44%;
        }
    }
    &__banner4 {
        right: 0;
        bottom: 0;
        height: 50%;
        @include media-breakpoint-up(lg) {
        height: 56%;
        }
    }
    &__banner-content{
        position: absolute;
        padding:25px;
        z-index: 99;
        
        @include media-breakpoint-up(xl) {
            padding: 45px 60px 40px;
            }
    }
    
}

.markets{
    &-carousel{
        &--item{
           
            &-img{
                overflow: hidden;
                img{
                    transition: transform 1s;
                    object-position: center;
                
                }
                &:hover{
                    img{
                       
                        
                                transform: scale(1.1);
                            
                        
                    }
                }
            }
            
        }
    }
}
.traders{
    &-carousel{
        &--item{
            &-img{
            padding:10px;
            border:1px solid #eee;
           }
            img{
                -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
                &:hover{
                    filter: none;
                    -webkit-filter: grayscale(0%);
                }
            }
        }
    }
}
.footer{
&-top{
    background-position: center 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    &:before{
        content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
   
    }
    &--icon{
        background-color: rgba($white,0.7);
        border-radius: 50%;
        width: 80px;
        height: 80px;
       position: relative;
       margin-bottom: 30px;
      i{
        z-index: 99;
      }
        &:before{
            content: "";
        position: absolute;
        width: 90px;
        height: 90px;
        background-color:rgba($white,0.2);
        border-radius: 50%;
        left: -5px;
        top:-5px;
    }
        
    }
}
}
.gray-bg{
    background-color: #f4f6f6;
}